<section>
    <h3>Modulo di Informatica</h3>
    <h3>Hardware</h3>
    <p>

        <small>Autore: <a href="http://hakim.se">Antonio Pierro</a> / <a href="http://twitter.com/an_pierro">@an_pierro</a></small>
    </p>
</section>
<section>
    <section>
        <h3>Indice</h3>
        <p>
            <ul>
                <li>Hardware: concetti di base.</li>
                <li>Componenti principali di un personal computer: processore, memoria di massa, ecc.</li>
                <li>Tipologia di elaboratori: personal computer, portatili, tablet, ecc.</li>
            </ul>
        </p>
    </section>
</section>
<section>
    <section>
        <h3>Hardware</h3>
        <p>
            <ul>
                <li>Con il termine hardware si intende la parte fisica del computer.</li>
                <li>In inglese il vocabolo significa letteralmente ferramenta (da hard, "duro, pesante" e ware "manufatto, oggetto").</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Alcuni componenti hardware</h3>
        <ul>
            <li>Scheda madre (motherboard)</li>
            <li>Memoria primaria</li>
            <li>Memoria secondaria</li>
            <li>Dispositivi di Input e Output</li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Scheda madre (motherboard)</h3>
        <div class="media">
            <div class="media-body">
                <ul>
                    <li>La Scheda madre è il componente principale di un PC.</li>
                    <li>&Egrave; dotata di circuiti integrati che hanno il compito di collegare fra loro gli altri componenti del sistema.</li>
                </ul>
            </div>
            <a class="media-right">
                <img src="src/images/motherboard.jpg" alt="motherboard">
            </a>
        </div>
        <ul>
            <li>Tutti i componenti collegati alla motherboard sono divisi tra il northbridge e il southbridge.</li>
        </ul>
    </section>
    <section>
        <h3>Northbridge</h3>
        <div class="media">
            <div class="media-body">
                <ul>
                    <li>Il northbridge è un circuito che permette il collegamento ad alta velocità tra i componenti critici per le prestazioni del computer:
                    </li>
                </ul>
            </div>
            <a class="media-right">
                <img src="src/images/northbridge.png" alt="northbridge">
            </a>
        </div>
        <ul>
            <li>La CPU</li>
            <li>La memoria RAM (random-access memory, memoria ad accesso casuale)</li>
            <li>Scheda grafica (AGP)</li>
        </ul>
    </section>
    <section>
        <h3>Southbridge</h3>
        <p>
            <ul>
                <li>Il southbridge gestisce le interfacce a bassa velocità, quali:
                    <ul>
                        <li>le porte USB;</li>
                        <li>l'interfaccia Ethernet;</li>
                        <li>le interfacce per la tastiera e il mouse.</li>
                    </ul>
                </li>
            </ul>
        </p>
    </section>
</section>
<section>
    <section>
        <h3>L'unità di elaborazione centrale (CPU)</h3>
        <p>
            <ul>
                <li>La CPU è un insieme di circuiti elettronici miniaturizzato (circuito integrato)</li>
                <li>Il compito della CPU è quello di eseguire le istruzioni di un programma.</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Una generica CPU contiene:</h3>
        <p>
            <ul>
                <li>un'unità di controllo (anche nota con la sigla "CU") che legge dalla memoria le istruzioni</li>
                <li>un'unità aritmetica e logica (anche nota con l'acronimo "ALU") che si occupa di eseguire le operazioni logiche e aritmetiche</li>
                <li>dei registri, speciali locazioni di memoria interne alla CPU, molto veloci, a cui è possibile accedere molto più rapidamente che alla memoria.</li>
            </ul>
        </p>
    </section>
</section>
<section>
    <section>
        <h3>Memoria primaria</h3>
        <p>
            <ul>
                <li>La memoria primaria è la memoria che lavora a più diretto contatto con il processore.</li>
                <li>Esempi di memorie primarie sono:
                    <ul>
                        <li>RAM</li>
                        <li>ROM</li>
                        <li>Cache</li>
                    </ul>
                </li>
            </ul>
        </p>
    </section>
    <section>
        <h3>RAM</h3>
        <p>
            <ul>
                <li>La RAM, acronimo dell'inglese Random Access Memory ovvero memoria ad accesso casuale.</li>
                <li>La memoria ad accesso casuale si contrappone alla memoria ad accesso sequenziale rispetto alle quali presenta tempi di accesso sensibilmente inferiori motivo per cui è utilizzata come memoria primaria.</li>
            </ul>
        </p>
    </section>
</section>
<section>
    <section>
        <h3>Memoria secondaria</h3>
        <p>
            <ul>
                <li>La memoria secondaria è anche detta memoria di massa</li>
                <li>La caratteristica principale della memoria di massa è la "non volatilità", ovvero la possibilità di memorizzare permanentemente i dati</li>
                <li>Esempi di memoria di massa sono:
                    <ul>
                        <li>Disco rigido (hard disk drive)</li>
                        <li>SSD (drive a stato solido)</li>
                        <li>CD</li>
                        <li>DVD</li>
                        <li>Blu-ray Disc</li>
                        <li>Nastri magnetici</li>
                    </ul>
                </li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Disco rigido</h3>
        <p>
            <ul>
                <li>&Egrave; un dispositivo di memoria di massa di tipo magnetico</li>
                <li>L'hard disk venne inventato nel 1956 dall'IBM.</li>
                <li>Il primo prototipo era costituito da 50 dischi del diametro di 24 pollici (circa 60 cm) e poteva immagazzinare circa 5 megabyte di dati.</li>
                <li>Era grande quanto un frigorifero, con un peso di oltre una tonnellata.</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Descrizione del disco rigido</h3>
        <p>
            <ul>
                <li>Il disco rigido è costituito fondamentalmente da uno o più piatti rivestiti di materiale ferromagnetico e da due testine per ogni disco (una per lato)</li>
                <li>Le testine durante il funzionamento "volano" alla distanza di poche decine di nanometri dalla superficie del disco leggendo o scrivendo i dati.</li>
                <li>I dischi routano con una velocità che può essere di 4.200, 5.400, 7.200, 10.000 oppure 15.000 giri al minuto</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Principi fisici di registrazione magnetica e lettura</h3>
        <ul>
            <li>La memorizzazione o scrittura dell'informazione sulla superficie del supporto ferromagnetico consiste nel trasferimento di un determinato verso alla magnetizzazione</li>
            <li>Ad un certo stato (verso) di magnetizzazione è associato un bit di informazione (1 o 0)</li>
        </ul>
    </section>
    <section>
        <h3>DVD</h3>
        <p>
            <ul>
                <li>Il DVD è un supporto di memoria di tipo ottico</li>
                <li>Digital Versatile Disc (in italiano Disco Versatile Digitale, originariamente Digital Video Disc, Disco Video Digitale).</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Drive a stato solido</h3>
        <p>
            <ul>
                <li>Il disco rigido è stato per lungo tempo l'unica scelta sui personal computer, ma sta conoscendo una perdita di quote di mercato a favore delle più recenti unità a stato solido (SSD).</li>
                <li>Utilizza memoria a stato solido (in particolare memoria flash), ovvero basata su semiconduttore.</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Confronto con il disco rigido</h3>
        <table class="table table-confronto">
            <thead>
                <tr>
                    <th>Vantaggi</th>
                    <th>Svantaggi</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Rumorosità assente, non essendo presente alcun motore di rotazione</td>
                    <td>Bisogna rimuoverle correttamente per non rischiare di perdere dati</td>
                </tr>
                <tr>
                    <td>Minore possibilità di rottura: le unità a stato solido hanno mediamente un tasso di rottura inferiore (1%) a quelli degli hard disk (10%)</td>
                    <td>Un maggiore prezzo che può variare dai 0,50 € fino ad arrivare a 1,00 € per gigabyte.</td>
                </tr>
                <tr>
                    <td>Minori consumi durante le operazioni di lettura e scrittura;</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Tempi di accesso e archiviazione ridotti: si lavora nell'ordine dei decimi di millisecondo; il tempo di accesso dei dischi magnetici è oltre 50 volte maggiore.</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <h3>Blu-ray</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Diameter (cm)</th>
                    <th>Layers</th>
                    <th>Capacity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>12</td>
                    <td>1</td>
                    <td>25 GB</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>2</td>
                    <td>50 GB</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>4</td>
                    <td>128 GB</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section>
        <h3>Supporti ottici a confronto</h3>
        <img src="./src/images/Comparison_CD_DVD_HDDVD_BD.svg">
    </section>
</section>
<section>
    <section>
        <h3>Periferiche di input</h3>
        <ul>
            <li>Le periferiche di input consentono di acquisire dati dall'esterno. Le principali sono:
                <ul>
                    <li>Tastiera (standard input): acquisisce caratteri, numeri e comandi grazie alla pressione di tasti;</li>
                    <li>Dispositivi di puntamento: consentono di trasmettere dati di posizione spaziale al computer; sono dispositivi di puntamento il mouse e il touch pad.</li>
                    <li>Scanner: grazie a una tecnologia simile a quella della fotocopiatrice, acquisisce immagini; può essere associato a un programma OCR (Optical Character Recognition), in grado di convertire l'immagine in un file di testo.</li>
                    <li>Microfono: acquisisce e digitalizza suoni.</li>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h3>Periferiche di output</h3>
        <ul>
            <li>Sono dispositivi che forniscono il risultato di un'elaborazione convertendolo in testo, grafica, audio</li>
            <li>Esempi di periferiche di output sono: monitor, stampanti e casse audio.</li>
        </ul>
    </section>
</section>
