<section>
    <h3>Servizi web di hosting per la creazione di un sito Web</h3>
    <ul>
        <li>GitHub</li>
        <li>Bitbucket</li>
        <li>Segnalare un sito ai motori di ricerca</li>
        <li>Google Maker</li>
        <li>Google Analytics</li>
    </ul>
    <p>
        <small>Autore: <a href="http://hakim.se">Antonio Pierro</a> / <a href="http://twitter.com/an_pierro">@an_pierro</a></small>
    </p>
</section>
<section>
    <h3>Web hosting</h3>
    <ul>
        <li>In informatica si definisce hosting (dall'inglese to host, ospitare) un servizio di rete che permette di allocare su un server web le pagine web di un sito web.</li>
        <li>Le pagine web inserite saranno così accessibile dalla rete Internet e ai suoi utenti.</li>
        <li>Tale "server web", definito "host", è connesso ad Internet in modalità idonea a garantire l'accesso alle pagine del sito mediante il web browser.</li>
        <li>Attualmente i browser più usati sono:  Google Chrome, Internet Explorer e Mozilla Firefox </li>
    </ul>
</section>
<section>
    <section>
        <h3>GitHub</h3>
        <ul>
            <li>GitHub è un servizio web di hosting che può essere utilizzato per lo sviluppo di un sito web per promuovere la nostra azienda.</li>
            <li>Il sito fornisce funzionalità simili a un social network come feeds e follower.</li>
        </ul>
    </section>
    <section>
        <h3>Utilizzo di GitHub</h3>
        <ul>
            <li>Registrazione;</li>
            <li>Creazione del primo sito;</li>
            <li>Modifica delle pagine web;</li>
            <li>Accesso a GitHub;</li>
            <li>Aggiunta di immagini.</li>
        </ul>
    </section>
    <section>
        <h3>Registrazione a GitHub</h3>
        <ul>
            <li>Collegarsi al sito https://github.com</li>
            <li>Inserire nei tre campi vuoti i senguenti valori: nome dell'azienda, email e password come mostrato nella figura.</li>
            <li>Premere il tasto verde.</li>
        </ul>
        <img src="src/images/github-registration.png">
    </section>
    <section>
        <h3>Scelta del piano tariffario</h3>
        <ul>
            <li>Scegliere il piano che prevede zero costi (free) e premere il tasto verde.</li>
        </ul>
        <img src="src/images/github-registration-plan.png">
    </section>
    <section>
        <h3>Scelta dell'indirizzo web dell'azienda</h3>
        <ul>
            <li>Premere sul tasto "+" e poi il tasto "New repository" come mostrato in figura:
            <img src="src/images/github-new-repository.png">
            </li>
            <li>Nella schermata successiva scrivere il nome a cui corrisponderà l'indirizzo della nostra azienda (l'estensione <strong>.github.io</strong> è obbligatoria). Per esempio:
            <img src="src/images/github-repository-name.png">
            </li>
            <li>Dopo aver scritto il nome, premere il tasto verde.</li>
        </ul>
    </section>
    <section>
        <h3>Creazione del sito attraverso modelli esistenti</h3>
        <div class="media">
            <div class="media-body">
                <ul>
                    <li>Nella schermata a destra premere sul pulsante "Settings"</li>
                    <li>Nella schermata successiva premere sul pulsante "Automatic Page Generator"
                    <img src="src/images/github-automatic-page-generator.png">
                    </li>
                </ul>
            </div>
            <a class="media-right">
                <img src="src/images/github-settings.jpg" alt="">
            </a>
        </div>
    </section>
    <section>
        <h3>Modifica del nome dalla pagina</h3>
        <ul>
            <li>Nella schermata successiva è possibile modificare il titolo della pagina web semplicemente editando in seguente campo
            <img src="src/images/github-page-name.png">
            </li>
            <li>Dopo aver modificato il titolo della pagina, pigiare sul tasto verde (Continue to layouts)</li>
        </ul>
    </section>
    <section>
        <h3>Selezionare il modello</h3>
        <ul>
            <li>Selezionare il modello che si preferisce premendo sulle immagini in miniatura come mostrato nella figura:
            <img src="src/images/github-layout.png"></li>
            <li>Premere sul tasto verde "Publish page"</li>
        </ul>
    </section>
    <section>
        <h3>Accedere al sito web</h3>
        <ul>
            <li>Il sito della nostra azienda in pochi minuti sarà accessibile da internet</li>
            <li>L'indirizzo dipenderà dal nome con cui ci siamo registrati si GitHub</li>
            <li>Nell'esempio mostrato l'indirizzo sarà:<br>http://agriturismo-sardegna.github.io</li>
        </ul>
    </section>
    <section>
        <h3>Accesso a GitHub</h3>
        <div class="media">
            <div class="media-body">
                <ul>
                    <li>
                        Digitare sulla barra degli indirizzi github.com come mostrato nell'immagine:
                        <img src="src/images/github-url.png">
                    </li>
                    <li>
                        Se sei già registrato a GitHub, non occorre fare una nuova registrazione. Ti basta pigiare sul tasto "Sign-in" e completare la scheda inserendo e-mail e password
                        <img src="src/images/github-sign-in-end.png">
                    </li>
                </ul>
            </div>
            <div class="media-right">
                <img src="src/images/github-sign-in.png" alt="">
            </div>
        </div>
    </section>
</section>
<section>
    <section>
        <h3>Bitbucket</h3>
        <ul>
            <li>Come GitHub, Bitbucket è un servizio web di hosting che può essere utilizzato per lo sviluppo di un sito web per promuovere la nostra azienda;</li>
            <li>A differenza di GitHub le pagine vengono pubblicate istantaneamente appena create;</li>
            <li>Secondo gli utilizzatori meno esperti l'interfaccia grafica di Bitbucket risulta più facile da utilizzare rispetto a quella di GitHub.</li>
        </ul>
    </section>
    <section>
        <h3>Registrazione a Bitbucket 1/2</h3>
        <ul>
            <li>Collegarsi al sito https://bitbucket.org</li>
            <li>Inserire nei tre campi vuoti i senguenti valori: nome dell'azienda, email e password come mostrato nella figura.</li>
            <li>Premere il tasto blu.</li>
        </ul>
        <img src="src/images/bitbucket-registration.png">
    </section>
    <section>
        <h3>Registrazione a Bitbucket 2/2</h3>
        <ul>
            <li>Nelle due pagini seguenti premere sui tasti "skip" e "no thanks" come mostrato in figura:
            <img src="src/images/bitbucket-skip.png">
            <img src="src/images/bitbucket-no-thanks.png">
            </li>
        </ul>
    </section>
    <section>
        <h3>Creazione del sito web mediante importazione</h3>
        <ul>
            <li>Premere sul tasto "Repositories" e dopo sul tasto "Import a repository" come mostrato in figura:
            <img src="src/images/bitbucket-create-repository.png"></li>
            <li>Nella schermata successiva ci sono due sezioni: "Old repository" e "New repository"</li>
        </ul>
    </section>
    <section>
        <h3>Sezione "Old repository"</h3>
        <ul>
            <li>Nella sezione "Old repository" scrivere nel campo URL il seguente indirizzo web come https://github.com/cultivar/cultivar.github.io mostrato in figura
            <img src="src/images/bitbucket-old-repository.png">
        </ul>
    </section>
    <section>
        <h3>Sezione "New repository"</h3>
        <ul>
            <li>Nella sezione "New repository" scrivere nel campo "Name" il nome a cui corrisponderà l'indirizzo della nostra azienda (l'estensione <em>.bitbucket.io</em> è obbligatoria). Per esempio:
                <img src="src/images/bitbucket-new-repository.png">
            </li>
            <li>Premere sul tasto blu "Import repository"</li>
        </ul>
    </section>
    <section>
        <h3>Visualizza il sito su internet</h3>
        <ul>
            <li>Dopo aver premere sul tasto blu "Import repository" il sito è immediatamente pubblicato sul web.</li>
            <li>Per accedere al sito digitare "prodotti-bio.bitbucket.org" sulla barra degli idirizzi del "Browser" come mostrato in figura:
            </li>
            <img src="src/images/adress-bar.png">
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Segnalare un sito ai motori di ricerca</h3>
        <ul>
            <li>I motori di ricerca sono un mezzo importantissimo per chi gestisce un sito Internet.</li>
            <li>Avere un sito ben posizionato su Google, Bing, ecc. significa comparire nei primi posti dei risultati delle ricerche ed aumentare sensibilmente le probabilità che nuovi utenti arrivino sulle nostre pagine cercando un determinato prodotto.</li>
        </ul>
    </section>
    <section>
        <h3>Segnalare un sito a Google</h3>
        <ul>
            <li>Per segnalare un sito a Google digitare il seguente indirizzo: <em>https://www.google.com/webmasters/tools/submit-url</em> e inserire le informazioni relative al nostro sito:
            <img src="src/images/add-url-google.png">
            </li>
            <li>Dopo aver inserito le informazioni premere il tasto "Submit request".</li>
        </ul>
    </section>
    <section>
        <h3>Segnalare un sito a Bing</h3>
        <ul>
            <li>Per segnalare un sito a Bing digitare il seguente indirizzo: <em>http://www.bing.com/toolbox/submit-site-url</em> e inserire le informazioni relative al nostro sito:
            <img src="src/images/add-url-bing.png">
            </li>
            <li>Dopo aver inserito le informazioni premere il tasto "Submit".</li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Google Map Maker</h3>
        <ul>
            <li>Google Map Maker è un servizio collaborativo progettato e distribuito da Google</li>
            <li>Gli utenti possono contribuire al miglioramento delle mappe, inserendo nuovi dati geografici o modificando quelli esistenti su Google Map</li>
            <li>Le modifiche, prima di essere visibili a tutti, devono essere rivedute da altri utenti e convalidate dalla stessa Google, onde evitare vandalismi, doppioni ed errori.</li>
        </ul>
    </section>
    <section>
        <h3>Accesso a Google Map Maker</h3>
        <ul>
            <li>Digitare sulla barra degli indirizzi http://www.google.com/mapmaker
            <img src="src/images/map-maker-url.png">
            </li>
            <li>Per accede a Google Map Maker bisogna avere un account su Google
            <img src="src/images/map-maker-signin.png">
            </li>
            <li>Premere sul punsante rosso "Sign In"</li>
        </ul>
    </section>
    <section>
        <h3>Aggiunta di un luogo</h3>
        <ul>
            <li>Dopo essersi autenticati è possibile aggiungere la nostra azienda su "Google Map" premendo il tasto "Add Place"</li>
            <img src="src/images/map-maker-add-place.png">
            <li>Sposta il cursore sul luogo desiderato, poi fai clic una volta per rilasciare il segnaposto.
            <img src="src/images/map-maker-segnaposto.png">
            </li>
        </ul>
    </section>
    <section>
        <h3>Aggiungi descrizione</h3>
        <ul>
            <li>Completa i due campi come mostrato nell'immmagine. Per esempio:
            <img src="src/images/map-maker-add-category.png">
            </li>
            <li>Completa la descrizione aggiungendo altre informazioni. Per esempio: orario di apertura, numero di telefono, sito web.</li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Google Analytics</h3>
        <ul>
            <li>Google Analytics è un servizio Web gratuito di Google che può essere usato per analizzare le statistiche sui visitatori del sito web della nostra azienda.</li>
            <li>Sul sito è possibile monitorare i visitatori che accedono al nostro sito (sesso, età, paese di provenienza, ecc.)</li>
        </ul>
    </section>
    <section>
        <h3>Accesso a Google Analytics</h3>
        <ul>
            <li>Scrivere nella barra degli indirizzi www.google.com/analytics/ come mostrato in figura:
            <img src="src/images/google-analytics-access.png">
            </li>
            <li>Premere il tasto "Access Google Analytics"</li>
            <img src="src/images/google-analytics-signup.png">
        </ul>
    </section>
    <section>
        <h3>Implementazione</h3>
        <ul>
            <li>Google Analytics viene implementato aggiungendo un frammento di codice JavaScript che l'utente aggiunge in tutte le pagine del proprio dominio web.</li>
        </ul>
    </section>
</section>

