<section>
    <h3>Servizi web di hosting per la creazione di un sito Web</h3>
    <ul>
        <li>GitHub</li>
        <li>Bitbucket</li>
        <li>Google Maker</li>
        <li>Google Analytics</li>
    </ul>
    <p>
        <small>Autore: <a href="http://hakim.se">Antonio Pierro</a> / <a href="http://twitter.com/an_pierro">@an_pierro</a></small>
    </p>
</section>
<section>
    <h3>Web hosting</h3>
    <ul>
        <li>In informatica si definisce hosting (dall'inglese to host, ospitare) un servizio di rete che permette di allocare su un server web le pagine web di un sito web.</li>
        <li>Le pagine web inserite saranno così accessibile dalla rete Internet e ai suoi utenti.</li>
        <li>Tale "server web", definito "host", è connesso ad Internet in modalità idonea a garantire l'accesso alle pagine del sito mediante il web browser.</li>
        <li>Attualmente i browser più usati sono:  Google Chrome, Internet Explorer e Mozilla Firefox </li>
    </ul>
</section>
<section>
    <section>
        <h3>GitHub</h3>
        <ul>
            <li>GitHub è un servizio web di hosting che può essere utilizzato per lo sviluppo di un sito web per promuovere la nostra azienda.</li>
            <li>Il sito fornisce funzionalità simili a un social network come feeds e follower.</li>
        </ul>
    </section>
    <section>
        <h3>Utilizzo di GitHub</h3>
        <ul>
            <li>Registrazione;</li>
            <li>Creazione del primo sito;</li>
            <li>Modifica delle pagine web.</li>
        </ul>
    </section>
    <section>
        <h3>Registrazione a GitHub</h3>
        <ul>
            <li>Collegarsi al sito https://github.com</li>
            <li>Inserire nei tre campi vuoti i senguenti valori: nome dell'azienda, email e password come mostrato nella figura.</li>
            <li>Premere il tasto verde.</li>
        </ul>
        <img src="src/images/github-registration.png">
    </section>
    <section>
        <h3>Scelta del piano tariffario</h3>
        <ul>
            <li>Scegliere il piano che prevede zero costi (free) e premere il tasto verde.</li>
        </ul>
        <img src="src/images/github-registration-plan.png">
    </section>
    <section>
        <h3>Scelta dell'indirizzo web dell'azienda</h3>
        <ul>
            <li>Premere sul tasto "+" e poi il tasto "New repository" come mostrato in figura:
            <img src="src/images/github-new-repository.png">
            </li>
            <li>Nella schermata successiva scrivere il nome a cui corrisponderà l'indirizzo della nostra azienda (l'estensione <strong>.github.io</strong> è obbligatoria). Per esempio:
            <img src="src/images/github-repository-name.png">
            </li>
            <li>Dopo aver scritto il nome, premere il tasto verde.</li>
        </ul>
    </section>
    <section>
        <h3>Creazione del sito attraverso modelli esistenti</h3>
        <div class="media">
            <div class="media-body">
                <ul>
                    <li>Nella schermata a destra premere sul pulsante "Settings"</li>
                    <li>Nella schermata successiva premere sul pulsante "Automatic Page Generator"
                    <img src="src/images/github-automatic-page-generator.png">
                    </li>
                </ul>
            </div>
            <a class="media-right">
                <img src="src/images/github-settings.jpg" alt="">
            </a>
        </div>
    </section>
    <section>
        <h3>Modifica del nome dalla pagina</h3>
        <ul>
            <li>Nella schermata successiva è possibile modificare il nome della pagina web semplicemente editando in seguente campo
            <img src="src/images/github-page-name.png">
            </li>
            <li>Dopo aver modificato il titolo della pagina, pigiare sul tasto verde (Continue to layouts)</li>
        </ul>
    </section>
    <section>
        <h3>Selezionare il modello</h3>
        <ul>
            <li>Selezionare il modello che si preferisce premendo sulle immagini in miniatura come mostrato nella figura:
            <img src="src/images/github-layout.png"></li>
            <li>Premere sul tasto verde "Publish page"</li>
        </ul>
    </section>
    <section>
        <h3>Accedere al sito web</h3>
        <ul>
            <li>Il sito della nostra azienda in pochi minuti sarà accessibile da internet</li>
            <li>L'indirizzo dipenderà dal nome con cui ci siamo registrati si GitHub</li>
            <li>Nell'esempio mostrato l'indirizzo sarà:<br>http://agriturismo-sardegna.github.io</li>
        </ul>
    </section>
</section>
<section>
    <section>
        <h3>Bitbucket</h3>
        <ul>
            <li>Come GitHub, Bitbucket è un servizio web di hosting che può essere utilizzato per lo sviluppo di un sito web per promuovere la nostra azienda;</li>
            <li>A differenza di GitHub le pagine vengono pubblicate istantaneamente appena create;</li>
            <li>Secondo gli utilizzatori meno esperti l'interfaccia grafica di Bitbucket risulta più facile da utilizzare rispetto a quella di GitHub.</li>
        </ul>
    </section>
    <section>
        <h3>Registrazione a Bitbucket 1/2</h3>
        <ul>
            <li>Collegarsi al sito https://bitbucket.org</li>
            <li>Inserire nei tre campi vuoti i senguenti valori: nome dell'azienda, email e password come mostrato nella figura.</li>
            <li>Premere il tasto blu.</li>
        </ul>
        <img src="src/images/bitbucket-registration.png">
    </section>
    <section>
        <h3>Registrazione a Bitbucket 2/2</h3>
        <ul>
            <li>Nelle due pagini seguenti premere sui tasti "skip" e "no thanks" come mostrato in figura:
            <img src="src/images/bitbucket-skip.png">
            <img src="src/images/bitbucket-no-thanks.png">
            </li>
        </ul>
    </section>
    <section>
        <h3>Creazione del sito web mediante importazione</h3>
        <ul>
            <li>Premere sul tasto "Repositories" e dopo sul tasto "Import a repository" come mostrato in figura:
            <img src="src/images/bitbucket-create-repository.png"></li>
            <li>Nella schermata successiva ci sono due sezioni: "Old repository" e "New repository"</li>
        </ul>
    </section>
    <section>
        <h3>Sezione "Old repository"</h3>
        <ul>
            <li>Nella sezione "Old repository" scrivere nel campo URL il seguente indirizzo web come https://github.com/cultivar/cultivar.github.io mostrato in figura
            <img src="src/images/bitbucket-old-repository.png">
        </ul>
    </section>
    <section>
        <h3>Sezione "New repository"</h3>
        <ul>
            <li>Nella sezione "New repository" scrivere nel campo "Name" il nome a cui corrisponderà l'indirizzo della nostra azienda (l'estensione <em>.bitbucket.io</em> è obbligatoria). Per esempio:
                <img src="src/images/bitbucket-new-repository.png">
            </li>
        </ul>
    </section>
</section>

