<div class="slides">
    <section>
<!--         <h3>Acquisizione di nuove competenze in agricoltura</h3>
        <h3>Multifunzionalità dell'azienda agricola.</h3> -->
        <h4>Modulo di Informatica</h4>
        <p>

            <small>Autore: <a href="http://hakim.se">Antonio Pierro</a> / <a href="http://twitter.com/an_pierro">@an_pierro</a></small>
        </p>
    </section>
    <section>
        <section>
            <h3>Indice</h3>
            <p>
                <ul>
                    <li>Uso del PC;</li>
                    <li>Office;</li>
                    <li>Internet, finalizzato: 
                        <ul>
                            <li>allo sviluppo di azioni di pubblicità e promozione</li>
                            <li>marketing e competitività.</li>
                        </ul>
                    </li>
                </ul>
            </p>
        </section>
    </section>
</div>
