<section>
    <h3>Presentazione del corso di Informatica</h3>
    <p>
        <small>Autore: <a href="http://hakim.se">Antonio Pierro</a> / <a href="http://twitter.com/an_pierro">@an_pierro</a></small>
    </p>
</section>
<section>
    <h3>Indice</h3>
    <p>
        <ul>
            <li>Obiettivi del corso</li>
            <li>Prerequisiti</li>
            <li>Programma del corso</li>
        </ul>
    </p>
</section>
<section>
    <h3>Obiettivi del corso 1/2</h3>
    <ul>
        <li>Comprendere i principali fondamenti teorici delle scienze dell'informazione;</li>
        <li>Conoscere a grandi linee l'architettura generale ed il principio di funzionamento di un calcolatore.</li>
        <li>Utilizzo a livello elementare del pacchetto Office e di "Google Drive" per produrre presentazioni e documenti multimediali;</li>
    </ul>
</section>
<section>
    <h3>Obiettivi del corso 2/2</h3>
    <ul>
        <li>Avere padronanza nell'uso di internet e della posta elettronica;</li>
        <li>Utilizzare il foglio elettronico sia come database elementare che come strumento utile per rappresentare ed analizzare situazioni e problemi.</li>
        <li>Riconoscere e prevedere l'effetto dei tag più importanti all'interno di un documento HTML</li>
        <li>Realizzare un sito web utilizzando GitHub</li>
    </ul>
</section>
<section>
    <h3>Prerequisiti</h3>
    <ul>
        <li>Per seguire questo corso non sono necessari prerequisiti.</li>
    </ul>
</section>
<section>
    <h3>Programma del corso</h3>
    <h3>Concetti di base della scienze dell'informazione</h3>
    <p>
        <ul>
            <li>Che cos'è un Algoritmo</li>
            <li>La Rappresentazione dei dati e dei diversi sistemi di numerazione</li>
        </ul>
    </p>
</section>
<section>
    <h3>Hardware</h3>
    <p>
        <ul>
            <li>Distinguere i componenti hardware presenti in un personal computer.</li>
            <li>Conoscere la loro incidenza sulle prestazioni di un elaboratore.</li>
            <li>Identificare le più comuni tipologie di computer e di dispositivi portatil</li>
        </ul>
    </p>
</section>
<section>
    <h3>Uso del computer e gestione dei file</h3>
    <ul>
        <li>Visualizzare le caratteristiche hardware del computer</li>
        <li>Installare e disinstallare software</li>
        <li>Gestione delle icone del desktop e delle finestre</li>
        <li>Gestione File e Cartelle</li>
    </ul>
</section>
<section>
    <h3>Sistema Operativo</h3>
    <p>
        <ul>
            <li>Uso del computer e gestione dei file.</li>
            <li>Elaborazione testi (Word processing).</li>
            <li>Fogli elettronici (Spreadsheets).</li>
        </ul>
    </p>
</section>
<section>
    <h3>Elaborazione testi</h3>
    <p>
        <ul>
            <li>Creazione di un documento</li>
            <li>Effettuare operazioni di copia/taglia/incolla di porzioni di testo</li>
            <li>Modificare la formattazione di singole parole e di paragrafi</li>
            <li>Formattazione di tabelle ed oggetti grafici</li>
            <li>Rifinire un documento e prepararlo alla stampa (controllo ortografico)</li>
        </ul>
    </p>
</section>
<section>
    <h3>Fogli elettronici (Spreadsheets)</h3>
    <p>
        <ul>
            <li>Creazione di un foglio elettronico</li>
            <li>Selezionare una cella e gruppi di celle, colonne e righe</li>
            <li>Effettuare operazioni di ordinamento</li>
            <li>Modificare la formattazione di singole celle o gruppi di celle</li>
            <li>Impostare semplici formule aritmetiche</li>
            <li>Utilizzare le funzione somma, media, minimo, massimo, conteggio, conteggio
delle celle non vuote di un intervallo, arrotondamento</li>
        </ul>
    </p>
</section>
<section>
    <h3>Grafici</h3>
    <ul>
        <li>Creare e modificare Grafici</li>
        <li>Comprendere quale tipo di grafico si presta meglio a rappresentare un certo
insieme di dati.</li>
    </ul>
</section>
<section>
    <h3>Strumenti di presentazione</h3>
    <p>
        <ul>
            <li>Creazione di una presentazione</li>
            <li>Creare una nuova presentazione utilizzando modelli predefiniti</li>
            <li>Salvare una presentazione nei diversi formati</li>
        </ul>
    </p>
</section>
<section>
    <h3>Navigazione e comunicazione in rete</h3>
    <p>
        <ul>
            <li>Concetti Fondamentali: Cos'è il WWW, Internet, protocollo Http/Https</li>
            <li>Creazione e Gestione dei Messaggi di Posta Elettronica</li>
            <li>Creazione di pagine Web</li>
        </ul>
    </p>
</section>
