<section>
    <h3>Presentazione del corso di Informatica</h3>
    <ul>
        <li>Docente: Antonio Pierro</li>
        <li>Lezioni previste: 6</li>
        <li>Ore tatali: 30</li>
    </ul>
    <p>
        <small>Autore: <a href="http://hakim.se">Antonio Pierro</a> / <a href="http://twitter.com/an_pierro">@an_pierro</a></small>
    </p>
</section>
<section>
    <h3>Calendario delle lezioni</h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Oristano</th>
                <th>Nuoro</th>
                <th>Lanusei</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1</th>
                <td>21/11/14</td>
                <td>26/11/14</td>
                <td>15/12/14</td>
            </tr>
            <tr>
                <th>2</th>
                <td>28/11/14</td>
                <td>03/12/14</td>
                <td>12/01/15</td>
            </tr>
            <tr>
                <th>3</th>
                <td>12/12/14</td>
                <td>20/01/15</td>
                <td>19/01/15</td>
            </tr>
            <tr>
                <th>4</th>
                <td>09/01/15</td>
                <td>27/01/15</td>
                <td>26/01/15</td>
            </tr>
            <tr>
                <th>5</th>
                <td>16/01/15</td>
                <td>03/02/15</td>
                <td>02/02/15</td>
            </tr>
            <tr>
                <th>6</th>
                <td>30/01/15</td>
                <td>10/02/15</td>
                <td>09/02/15</td>
            </tr>
        </tbody>
    </table>
</section>
<section>
    <h3>Indice</h3>
    <p>
        <ul>
            <li>Obiettivi del corso;</li>
            <li>Prerequisiti;</li>
            <li>Programma del corso.</li>
        </ul>
    </p>
</section>
<section>
    <section>
        <h3>Obiettivi del corso 1/3</h3>
        <ul>
            <li>Comprendere i principali fondamenti teorici delle scienze dell'informazione;</li>
            <li>Conoscere a grandi linee l'architettura generale e il principio di funzionamento di un calcolatore;</li>
            <li>Conoscere la strutturato e la gestione di un sistema operativo;</li>
        </ul>
    </section>
    <section>
        <h3>Obiettivi del corso 2/3</h3>
        <ul>
            <li>Utilizzo a livello elementare del pacchetto Office e di "Google Drive" per produrre presentazioni e documenti multimediali;</li>
            <li>Utilizzo del foglio elettronico sia come base dati elementare che come strumento utile per rappresentare ed analizzare situazioni e problemi;</li>
        </ul>
    </section>
    <section>
        <h3>Obiettivi del corso 3/3</h3>
        <ul>
            <li>Avere padronanza nell'uso di internet e della posta elettronica;</li>
            <li>Conoscere le basi dei linguaggi WEB: HTML, CSS, javascript.</li>
            <li>Realizzare un sito web utilizzando GitHub.</li>
        </ul>
    </section>
</section>
<section>
    <h3>Prerequisiti</h3>
    <ul>
        <li>Per seguire questo corso non sono necessari prerequisiti.</li>
    </ul>
</section>
<section>
    <section>
        <h3>Programma del corso</h3>
    </section>
    <section>
        <h3>Concetti di base della scienze dell'informazione</h3>
        <p>
            <ul>
                <li>Che cos'è un algoritmo;</li>
                <li>Che cos'è un programma / software;</li>
                <li>La Rappresentazione dei dati e dei diversi sistemi di numerazione.</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Hardware</h3>
        <p>
            <ul>
                <li>Distinguere i componenti hardware presenti in un personal computer;</li>
                <li>Conoscere la loro incidenza sulle prestazioni di un elaboratore;</li>
                <li>Identificare le più comuni tipologie di computer e di dispositivi portatili.</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Uso del computer e gestione dei file</h3>
        <ul>
            <li>Visualizzare le caratteristiche hardware del computer;</li>
            <li>Installare e disinstallare software;</li>
            <li>Gestione delle icone del desktop e delle finestre;</li>
            <li>Gestione di file e cartelle.</li>
        </ul>
    </section>
    <section>
        <h3>Programmi del pacchetto Office</h3>
        <ul>
            <li>Elaborazione testi (Word processing);</li>
            <li>Fogli elettronici (Spreadsheets);</li>
            <li>Elaboratore di presentazioni (Presentation).</li>
        </ul>
    </section>
    <section>
        <h3>Elaborazione testi</h3>
        <p>
            <ul>
                <li>Creazione di un documento;</li>
                <li>Effettuare operazioni di copia/taglia/incolla di porzioni di testo;</li>
                <li>Modificare la formattazione di singole parole e di paragrafi;</li>
                <li>Formattazione di tabelle ed oggetti grafici;</li>
                <li>Rifinire un documento e prepararlo alla stampa (controllo ortografico).</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Fogli elettronici (Spreadsheets)</h3>
        <p>
            <ul>
                <li>Creazione di un foglio elettronico;</li>
                <li>Selezionare una cella e gruppi di celle, colonne e righe;</li>
                <li>Effettuare operazioni di ordinamento;</li>
                <li>Modificare la formattazione di singole celle o gruppi di celle;</li>
                <li>Impostare semplici formule aritmetiche;</li>
                <li>Utilizzare le funzione somma, media, minimo, massimo, conteggio, conteggio delle celle non vuote di un intervallo, arrotondamento;</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Grafici</h3>
        <ul>
            <li>Creare e modificare grafici;</li>
            <li>Comprendere quale tipo di grafico si presta meglio a rappresentare un certo
    insieme di dati.</li>
        </ul>
    </section>
    <section>
        <h3>Strumenti di presentazione</h3>
        <p>
            <ul>
                <li>Creazione di una presentazione;</li>
                <li>Creare una nuova presentazione utilizzando modelli predefiniti;</li>
                <li>Salvare una presentazione nei diversi formati.</li>
            </ul>
        </p>
    </section>
    <section>
        <h3>Navigazione e comunicazione in rete</h3>
        <p>
            <ul>
                <li>Concetti fondamentali: cos'è il WWW, internet, protocollo Http/Https;</li>
                <li>Creazione e gestione dei messaggi di posta elettronica;</li>
                <li>Creazione di pagine Web</li>
            </ul>
        </p>
    </section>
</section>
